@model WT.Models.Bill

@{
    ViewBag.Title = "BillDetails";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

<h2>Bill Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBill", new {  id = Model.Id  },  new { @style = "font-size:1.5rem; " }) |
    @Html.ActionLink("Back to List", "Bill", "Admin", new { @style = "font-size: 1.5rem;" })
</p>
<style>
    .Image {
        width: 10rem;
        height: 10rem;
    }

    dt {
        color: #00AA95;
        font-size: 1.2rem;
    }

    dd {
        font-size: 1.4rem;
    }
</style>