@model IEnumerable<WT.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

<h2>Customer Management</h2>
 
<h3>
    @Html.ActionLink("Create New", "CreateCustomer")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new {  id=item.Id }, new { @style = "font-size:1.5rem;" }) |
            @Html.ActionLink("Details", "CustomerDetails", new { id = item.Id }, new { @style = "font-size:1.5rem; margin-left: 0.3rem;" }) |
            @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.Id }, new { @style = "font-size:1.5rem; margin-left: 0.3rem;" })
        </td>
    </tr>
}

</table>
<style>


    th {
        color: #00AA95;
        font-size: 4rem;
    }

    td {
        font-size: 3rem;
        color: white;
    }

    h2 {
        color: white;
        margin: 0.5rem 0 0 0;
    }

    h3 {
        margin: 1rem 0 0 0;
    }

    table {
        margin: 1rem 0 0 0;
    }

    button {
        background-color: white;
    }

        button:hover {
            background-color: #00AA95;
            opacity: 100%;
        }
</style>