@model WT.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
 Layout = "~/Views/Shared/AdLayout.cshtml";
}

<h2>Customer Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCustomer", new { id = Model.Id }, new { @style = "font-size:1.5rem; " }) |
    @Html.ActionLink("Back to List", "Customer", "Admin", new { @style = "font-size: 1.5rem;" })
</p>
<style>
  

    dt {
        color: #00AA95;
        font-size: 1.2rem;
    }

    dd {
        font-size: 1.4rem;
    }
</style>