@model WT.Models.Bill

@{
    ViewBag.Title = "DeleteBill";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

<h2>Delete Bill</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Bill", "Admin", new { @style = "font-size: 1.5rem; margin-top:0.5rem;" })
        </div>
    }
</div>
<style>
    .Image {
        width: 10rem;
        height: 10rem;
    }

    h4 {
        margin: 2rem 0 -1.5rem 0;
    }

    .Delete-Button {
        width: 5rem;
        height: 2rem;
    }

        .Delete-Button:hover {
            background-color: #00AA95;
            color: white;
        }

    dt {
        color: #00AA95
    }
</style>
