@model WT.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

<h2> Product Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) đ
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img class="Image" src="~/wwwroot/Images/SanPham/@Html.DisplayFor(model =>model.Image)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProduct", "Admin", new{ id = Model.Id  }, new { @style = "font-size:1.5rem; " }) |
    @Html.ActionLink("Back to List", "Product", "Admin",new {@style="font-size: 1.5rem;"})
</p>
<style>
    .Image{
        width:10rem;
        height:10rem;
    }
    dt {
        color: #00AA95;
        font-size: 1.2rem;
    }
    dd {
        font-size: 1.4rem;
    }
</style>