@model IEnumerable<WT.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

@*<button onclick="location.href='@Url.Action("Index", "Admin")';return false;">Homepage</button>*@

<h2 class="Title">Product Management</h2>


<h3>
    @Html.ActionLink("Create New Product", "CreateProduct")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <img  class="Image" src="~/wwwroot/Images/SanPham/@Html.DisplayFor(modelItem =>item.Image)" />
                @*@Html.DisplayFor(modelItem => item.Image)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @style = "font-size:1.5rem;" }) |
                @Html.ActionLink("Details", "ProductDetails", new { id = item.Id }, new { @style = "font-size:1.5rem; margin-left: 0.3rem;" }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { @style = "font-size:1.5rem; margin-left: 0.3rem;" })
            </td>
        </tr>
    }

</table>

<style>
    .Image {
        max-width: 10rem;
        height: auto;
    }
    th {
        color: #00AA95;
        font-size: 4rem;
    }

    td {
        font-size: 3rem;
        color: white;
    }

    h2 {
        color: white;
        margin: 0.5rem 0 0 0;
    }
    h3{
        margin: 1rem 0 0 0;
    }
    table{
        margin: 1rem 0 0 0;
    }
    button{
        background-color:white;

    }
        button:hover {
            background-color: #00AA95;
            opacity: 100%;
        }
</style>